body{
    background-color: #3e3e42;
    color: white;
    font-size: 20px;
    text-align: center;
}

header{
    font-size: 40px;
    color: #d97460;
    text-align: center;
}

.gameBox{
    display: grid;
    height: 250px;
   justify-content: center;
    
}

.gameBox > input , button{
    height: 50px;
    font-size: 20px;
}

#gameover{
    display: none;
}

.rules{
    font-size: 15px;
    font-weight: 700;
    height: 25px;
    color: rgb(255, 255, 255);
    background-color: #d97460;
}
.rulebox{
    padding: 10px;
}